/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

/* Variables */
:root {
    /* Fonts familia */
    --poppins-font-family: 'Poppins', sans-serif;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--poppins-font-family);
}

/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}


/* Header */
header {
    background-color:#66cc00;
    max-width: 1800px;
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 100px;
    border-radius: 50px;
    margin-left: 50px;
}

h1 {
    color:black;
    font-size: 36px;
    margin-right: 150px;
}

/* Container */
.container {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
}
/* Estilos de las imágenes y los contenedores de texto */
.foto {
    width: 250px; 
    height: 250px; 
    object-fit: cover; /* Ajusta la imagen manteniendo la relación de aspecto y recortando el exceso */
    border-radius: 50%;
}

.container h2 {
    text-align: center;
    margin-left: 25px;
    padding: 10%;
    display: inline-block;
}

.informacion1, .informacion2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    padding: 20px;
}

.informacion1 {
    margin-right: 20px;
}
.informacion2 h2{
    padding-top: 0%;
}


/* Footer */
footer {
    background-color:#66cc00; 
    padding: 10px 0;
    width: 100%;
    align-items: center;
}

.footer-title{
    text-align: center;
}

.donar {
    text-align: center;
}

.donar button {
    background: linear-gradient(to top left, #a9dfbf 0%, #1cda68 100%);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 25px;
}
.botons{
    background-color: #66cc00;
    border:#66cc00;
    font-size: 17px;
    text-align: right;
}
a{
    padding-left: 850px;
}





